VITE_SPATIUS_APP_ID=your_app_id #https://app.spatius.ai/apps
VITE_SPATIUS_AVATAR_ID=aed008e4-8ddf-41aa-b5b2-5d7321dd4165 #https://app.spatius.ai/avatars/library
VITE_SPATIUS_SESSION_TOKEN=your_temporary_session_token #https://app.spatius.ai/apps (https://docs.spatius.ai/api-reference/api-reference#obtain-a-session-token)
